### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store.idea\
/MyFancyBank.iml
/FancyBank.iml
/lib/mysql-connector-java-8.0.30.jar
/lib/mysql-connector-java-8.0.30-sources.jar
/lib/protobuf-java-3.19.4.jar
/lib/protobuf-java-3.19.4-sources.jar
MyFancyBank.iml
